a{
  text-decoration: none;
  color:#fff;
}
    footer {
        position: relative;
        bottom: 0;
        -webkit-box-shadow: 0px 8px 31px 9px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 8px 31px 9px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 8px 31px 9px rgba(0, 0, 0, 0.75);
    }

    @media (max-height: 800px) {
        footer {
            position: static;
        }
        header {
            padding-top: 40px;
        }
    }
    a.soci {
        margin-left: 5px;
        margin-right: 5px;
        transition: all 0.5s ease-in-out;
    }
    a.soci:hover {
        color: white;
        transform: scale(1.1);
        text-decoration: none;
    }
    .footer-distributed {
        border-top: white 5px;
        background-color: #009975;
        box-sizing: border-box;
        width: 100%;
        text-align: left;
        font: 16px sans-serif;
        padding: 40px 40px 50px 40px;
        margin-top: 80px;
    }

    .footerbold {
        font: bold 16px sans-serif;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: inline-block;
        vertical-align: top;
    }
    /* Footer left */

    .footer-distributed .footer-left {
        margin-top: 1%;
        width: 30%;
        text-align: center;
        background-color: #009975;
        align-items: center;
    }

    .footer-distributed .footer-left img {
        transition: all .3s ease-in-out;
    }

    .footer-distributed .footer-left img:hover {
        transform: scale(1.2);
    }

    .footer-distributed h3 {
        font-family: "Comic Sans MS", cursive, sans-serif;
        font-size: 18px;
        letter-spacing: 0px;
        word-spacing: 0px;
        color: white;
        font-weight: 400;
        text-decoration: none;
        font-style: normal;
        font-variant: small-caps;
        text-transform: none;
    }
    /* Footer Center */

    .footer-distributed .footer-center {
        color: white;
        width: 35%;
        font-size: 16px;
        border-radius: 50%;
        text-align: center;
        line-height: 42px;
        margin: 10px 15px;
        vertical-align: middle;
    }

    .footer-distributed .footer-right {
        width: 26%;
        color: white;
        font-size: 16px;
        padding-top: 3%;
        text-align: center;
        line-height: 42px;
        margin: 10px 15px;
        vertical-align: middle;
    }

    .footer-distributed .footer-center p {
        display: inline-block;
        color: white;
        vertical-align: middle;
        margin: 0;
    }
    /* Here is the code for Responsive Footer */
    /* You can remove below code if you don't want Footer to be responsive */

    @media (max-width: 880px) {
        .footer-distributed .footer-left,
        .footer-distributed .footer-center,
        .footer-distributed .footer-right {
            display: block;
            width: 100%;
            margin-bottom: 40px;
            text-align: center;
        }
        .footer-distributed .footer-center i {
            margin-left: 0;
        }
    }
